@layer design-system.tokens {
  :where(:root) {
    --vds-icon-size-xs: 0.75rem;
    --vds-icon-size-sm: 1rem;
    --vds-icon-size-md: 1.25rem;
    --vds-icon-size-lg: 1.5rem;
    --vds-icon-size-xl: 2rem;
    --vds-icon-stroke: 1.5;
  }
}
