@import "./Stack.tokens.css";

@layer design-system.components {
  .vds-stack {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .vds-stack > * + * {
    margin-block-start: var(--stack-gap);
  }

  .vds-stack[data-recursive] * + * {
    margin-block-start: var(--stack-gap);
  }
}
