@import "./Stack.tokens.css";

@layer design-system.components {
  .vds-stack {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--stack-gap);
  }

  .vds-stack[data-recursive] > * * + *:not(:where(.vds-stack > *)) {
    margin-block-start: var(--stack-gap);
  }
}
