@layer design-system.tokens {
  :root,
  [data-theme] {
    --vds-breakpoint-sm: 640px;
    --vds-breakpoint-md: 768px;
    --vds-breakpoint-lg: 1024px;
    --vds-breakpoint-xl: 1280px;
    --vds-breakpoint-2xl: 1536px;
  }
}
